body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-wrap {
    background-color: #fff;
    margin: 0 auto;
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
}

.form-content {
    width: 80%;
    margin: 0 auto;
}

.form-header {
    height: 56px;
    width: 300px;
    line-height: 56px;
    margin: 0 auto;
}

.form-header .column {
    font-size: 30px;
    text-align: center;
}

.login-form {
    max-width: 300px;
}
.login-form-forgot {
    float: right;
}
.ant-col-rtl .login-form-forgot {
    float: left;
}
.login-form-button {
    width: 100%;
}